@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }
    .nav-item-container{
        flex-direction: column;
    }
}
        /* section1 resposive start */
        @media screen and (max-width: 768px){
        .banner-container{
            flex-direction: column;
        }
        }
